.user-info {
	width: 100%;
	height: 300rpx;
	background-color: #2979ff;
	padding: 20rpx;
	
	.left-content {
		text-align: left;
		color: white;
		position: relative;
		top: 60rpx;
	}
	
	.avatar {
		text-align: right;
		position: relative;
		top: 60rpx;
		right: 50rpx;
		
		.avatar-button button {
			border: none;
			color: transparent;
			background-color: transparent;
		}
	}
	
}